@import '../../assets/scss/core';

.custom-control-input:checked ~ .custom-control-label::after {
  background-image: none;
  background-color: $pale;
}

.custom-control-input:focus, .custom-control-input:focus:not(:checked) {

  ~ .custom-control-label::before {
    box-shadow: none;
    border-color: $gray-60;
  }
}

.custom-control-label {
  font-size: rem(18px);
  line-height: rem(23px);
  color: $gray-44;
  
  &::before {
    width: rem(24px);
    height: rem(24px);
    background-color: $white;
    border: 1px solid $gray-60;
    top: 0;
    border-radius: rem(4px);
  }

  &::after {
    border-radius: rem(2px);
  }
}

.custom-control-input:checked ~ .custom-control-label::before,
.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  background-color: $white;
  border-color: $gray-60;
}