cpagent

application\.yml
db/application_test\.yml




# web-client dependencies
/web-client/node_modules
/web-client/.pnp
/web-client/.pnp.js

# testing
/web-client/coverage

# production
/web-client/build

# misc
/web-client/.DS_Store

/web-client/npm-debug.log*
/web-client/yarn-debug.log*
/web-client/yarn-error.log*
/web-client/yarn.lock

config\.yml

swaggerui/

rice-box\.go
