@import '../../assets/scss/core';

.table-responsive {
	box-shadow: 0 3px 16px #0000000f;
}

.table-log {
	th,
	td {
		border: 1px solid $gray-80;
		&:first-child {
			padding-left: rem(16px);
		}
	}

	thead th {
		background-color: rgba(0, 0, 0, 0.15);
		padding: rem(32px 16px);
		border-bottom: 0 none;
		color: $white;
	}

	tbody {
		background: #fafafa 0% 0% no-repeat padding-box;
		td {
			font-size: rem(14px);
			line-height: rem(19px);
			padding: rem(20px 16px);

			&.td-actions {
				padding: rem(8px 16px);
			}
		}
	}
}
