@import "../../../assets/scss/core";

.ml-header {
  position: relative;
  display: flex;
  height: rem(80px);
  background: $white 0% 0% no-repeat padding-box;
  padding: rem(16px 48px);
  box-shadow: rem(0 4px 16px) #00000029;
  z-index: 1;
}