@import "../../assets/scss/core";

.progress-wrapper {
  width: 100%;
  max-width: 576px;
  flex: 1;

  .time-wrapper {
    color: #000;
    margin-left: 8px;

    p {
      font-size: 14px;
      line-height: 20px;
      font-weight: bold;
      margin: 0;
    }

    .separator {
      width: 2px;
      height: 20px;
      background-color: $primary;
      margin: 0 8px;
      border-radius: 1px;
    }

    span {
      font-size: 10px;
      line-height: 20px;
      line-height: normal;
      margin: 1px 0 0 4px;
    }
  }

  .experiment-progress {
    height: 8px;
    border-radius: 4px;
    background-color: #b2dad1;

    .progress-bar {
      background-color: #10907a;
    }
  }
}

.plate-nav-tabs {
  background-color: #fff;

  .nav-item {
    flex: 1;
    margin: 0;
  }

  .nav-link {
    position: relative;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #666666;
    padding: 0.75rem 1rem;
    text-align: center;
    border: 0 none;
    border-radius: 0;
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    font-weight: bold;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background: transparent
        linear-gradient(90deg, #fafafa 0%, #f38220 47%, #fafafa 100%) 0% 0%
        no-repeat padding-box;
      width: 80%;
      height: 2px;
    }
  }
}

.plate-tab-content {
  background-color: rgba($color: #f2f2f2, $alpha: 0.35);
  flex: 1;

  > .active {
    display: flex;
  }
}

.sample-wrapper {
  background-color: #f2f2f2;
  width: 18rem;
  padding: 2rem;

  .wrapper-title {
    color: $gray-44;
  }
}

.wells-wrapper {
  padding: 1.5rem 3.5rem;
}

.graph-wrapper {
  padding: 1rem 2rem;
}

// Grid Coordinates
.coordinate {
  &.-vertical {
    .coordinate-item {
      width: rem(26px);
      height: rem(54px);

      &:not(:last-child) {
        margin-bottom: rem(16px);
      }
    }
  }

  &.-horizontal {
    .coordinate-item {
      width: rem(50px);

      &:not(:last-child) {
        margin-right: rem(16px);
      }
    }
  }
}

// Sidebar
.sidebar {
  .sidebar-handle {
    transform: translate(0%, 0%);
  }

  &.sidebar-sample {
    .sidebar-handle {
      top: rem(112px);
    }
  }

  &.sidebar-graph {
    width: rem(948px);
    left: rem(-928px);

    .sidebar-handle {
      top: unset;
      bottom: rem(56px);
    }
  }
}

// Graph Filter
.graph-filters,
.graph-range,
.threshold-filter,
.baseline-filter {
  .title {
    color: $gray-40;
    text-align: right;
    font-weight: bold;
    padding-top: rem(8px);
  }

  .form-group {
    margin: 0 0 16px;
  }
}

.graph-filters {
  .form-group {
    opacity: 0.5;
    transition: transform 0.25s ease;

    &.active {
      opacity: 1;
      transition: transform 0.25s ease;
    }
  }

  label {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: rem(40px);
    background: $white 0% 0% no-repeat padding-box;
    box-shadow: rem(0 3px 6px) #00000012;
    border-style: solid;
    border-right-width: 1px;
    border-radius: rem(9px 0 0 9px);
    border-width: 1px;
    border-color: $gray-80;

    > span {
      line-height: 1.75;
      text-align: left;
    }

    &.active {
      border-width: 2px;
      border-color: $pale;
    }
  }

  .form-control {
    min-height: rem(40px);
    background: $white 0% 0% no-repeat padding-box;
    font-size: rem(15px);
    line-height: rem(19px);
    box-shadow: rem(0 3px 6px) #00000012;
    border-style: solid;
    border-width: 1px;
    border-color: $gray-80;
    border-left-width: 1px;
    border-radius: rem(0 9px 9px 0);
    text-align: center;
    transition: transform 0.5s ease;
    margin-left: 2px;

    &.active {
      border-width: 2px;
      border-color: $pale;
      margin-left: 0;
    }
    &:active,
    &:focus {
      transform: scale(1.2);
      transition: transform 0.5s ease;

      ~ .floating-label {
        @include fade(show);
      }
    }

    &.is-invalid {
      border-color: $danger !important;
    }
  }

  .floating-label {
    position: absolute;
    top: rem(-22px);
    right: 0;
    color: $gray-40;
    @include fade(hide);
  }
}

.graph-range {
  .form-control {
    background: $white 0% 0% no-repeat padding-box;
    font-size: rem(15px);
    line-height: rem(19px);
    box-shadow: rem(0 3px 6px) #00000012;
  }
}

// Popover
.popover-well {
  height: rem(414px);

  &.green {
    border-color: $lime-green !important;

    .popover-header {
      background-color: $lime-green !important;
    }
  }

  &.red {
    border-color: $burnt-sienna !important;

    .popover-header {
      background-color: $burnt-sienna !important;
    }
  }

  .btn-close {
    width: rem(36px);
    height: rem(36px);
    border: 0 none;
    color: $white;
  }

  .well-info {
    list-style: none;

    p {
      font-size: rem(18px);
      line-height: rem(24px);
      color: $gray-44;
      &.label {
        opacity: 0.47;
        text-align: left;
      }
    }
  }

  .target-list {
    > p {
      &.green {
        color: $lime-green;
      }
      &.red {
        color: $burnt-sienna;
      }
    }
  }
}

// Template Popover
.popover-template {
  width: rem(265px);
  height: rem(192px);
  border-color: $gray-90;
  box-shadow: rem(0 3px 16px) #00000029;

  &.bs-popover-bottom,
  &.bs-popover-auto[x-placement^="bottom"] {
    margin-top: rem(-7px);
  }

  .popover-body {
    p {
      color: $gray-44;
      margin: rem(0 0 12px);
    }
  }

  > .arrow::before,
  &.bs-popover-auto[x-placement^="bottom"] > .arrow::before {
    border-bottom-color: $gray-90;
  }
}

// RTPCR Well Grid
.rtpcr-well-grid {
  max-width: 624px;
}
