@import '../../assets/scss/core';

// Grid Coordinates
.coordinate {
	&.-vertical {
		.coordinate-item {
			width: rem(26px);
			height: rem(54px);

			&:not(:last-child) {
				margin-bottom: rem(16px);
			}
		}
	}

	&.-horizontal {
		.coordinate-item {
			width: rem(57px);

			&:not(:last-child) {
				margin-right: rem(16px);
			}
		}
	}
}

// Sidebar
.sidebar {
	.sidebar-handle {
		transform: translate(0%, 0%);
	}

	&.sidebar-sample {
		.sidebar-handle {
			top: rem(112px);
		}
	}

	&.sidebar-graph {
		width: rem(948px);
		left: rem(-928px);

		.sidebar-handle {
			top: unset;
			bottom: rem(56px);
		}
	}
}

// Graph Filter

.graph-filters {
	.title {
		color: $gray-40;
		text-align: right;
		font-weight: bold;
		padding-top: rem(8px);
	}

	.form-group {
		margin: rem(0 0 24px);
	}

	label {
		display: flex;
		align-items: center;
		justify-content: center;
		background: $white 0% 0% no-repeat padding-box;
		font-size: rem(18px);
		font-weight: bold;
		box-shadow: rem(0 3px 6px) #00000012;
		border-width: 2px;
		border-style: solid;
		border-color: $pale;
		border-right-width: 1px;
		border-radius: rem(9px 0 0 9px);
	}

	.form-control {
		background: $white 0% 0% no-repeat padding-box;
		font-size: rem(18px);
		box-shadow: rem(0 3px 6px) #00000012;
		border-width: 2px;
		border-style: solid;
		border-color: $pale;
		border-left-width: 1px;
		border-radius: rem(0 9px 9px 0);
		text-align: center;
		transition: transform 0.5s ease;

		&:active,
		&:focus {
			transform: scale(1.2);
			transition: transform 0.5s ease;

			~ .floating-label {
				@include fade(show);
			}
		}
	}

	.floating-label {
		position: absolute;
		top: rem(-22px);
		right: 0;
		color: $gray-40;
		@include fade(hide);
	}
}

// Popover
.popover-well {
	height: rem(414px);

	&.green {
		border-color: $lime-green !important;

		.popover-header {
			background-color: $lime-green !important;
		}
	}

	&.red {
		border-color: $burnt-sienna !important;

		.popover-header {
			background-color: $burnt-sienna !important;
		}
	}

	.btn-close {
		width: rem(36px);
		height: rem(36px);
		border: 0 none;
		color: $white;
	}

	.well-info {
		list-style: none;

		p {
			font-size: rem(18px);
			line-height: rem(24px);
			color: $gray-44;
			&.label {
				opacity: 0.47;
				text-align: left;
			}
		}
	}

	.target-list {
		> p {
			&.green {
				color: $lime-green;
			}
			&.red {
				color: $burnt-sienna;
			}
		}
	}
}

// Template Popover
.popover-template {
	width: rem(265px);
	height: rem(226px);
	border-color: $gray-90;
	box-shadow: rem(0 3px 16px) #00000029;

	&.bs-popover-bottom,
	&.bs-popover-auto[x-placement^='bottom'] {
		margin-top: rem(-7px);
	}

	.popover-body {
		p {
			color: $gray-44;
			margin: rem(0 0 12px);
		}
	}

	> .arrow::before,
	&.bs-popover-auto[x-placement^='bottom'] > .arrow::before {
		border-bottom-color: $gray-90;
	}
}
