@import "../../assets/scss/core";

.modal-dialog {
  max-width: rem(896px);
}

.modal-content {
  background: $gray-98 0% 0% no-repeat padding-box;
  border: 1px solid $gray-90;
  @include border-radius(rem(36px));
  box-shadow: 0px 3px 16px #0000000F;
}
.modal-title {
  font-weight: bold;
  color: $gray-40;
  margin: rem(16px 0 64px);
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.modal-backdrop.show {
  opacity: 0.3;
}