@import '../../assets/scss/core';

/* Expandable Search Box */

.search-box-container {
    input {
        outline: none;

        &:-moz-placeholder {
            color: rgba(102, 102, 102, 0.26);
        }

        &::-webkit-input-placeholder {
            color: rgba(102, 102, 102, 0.26);
        }
    }

    input[type=search] {
        -webkit-appearance: textfield;
        -webkit-box-sizing: content-box;
        font-family: inherit;
        font-size: 100%;
        background: #FAFAFA url(/images/search-icon.png) no-repeat center right 12px;
        border: solid 1px #717171;
        padding: 8px 9px 8px 31px;
        width: 0px;
        color: transparent;
        cursor: pointer;
        -webkit-border-radius: 10em;
        -moz-border-radius: 10em;
        border-radius: 10em;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        transition: all .5s;

        &:hover {
            background-color: #fff;
        }

        &:focus {
            width: 596px;
            padding-left: 32px;
            color: #000;
            background-color: #fff;
            cursor: auto;
        }
    }

    input::-webkit-search-decoration,
    input::-webkit-search-cancel-button {
        display: none;
    }
}

