@import "../../assets/scss/core";

.css-yk16xz-control {
  border-color: $gray-90 !important;
  @include border-radius(rem(8px) !important);
}

.css-m0yp90-placeholder {
  color: rgba($gray-44, 0.45);
}

.css-1okebmr-indicatorSeparator {
  display: none;
}