@import '../../assets/scss/core';
.action-btns{
    > li{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.25rem;
        height: 2.25rem;
        > i{
            color: $gray-40;
        }
    }
}