html {
  @include rem-baseline;
}

html, body {
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

// Button
.btn:focus, .btn.focus {
  box-shadow: 0 2px 6px #00000029;
}

.ml-content {
  position: relative;
  flex: 1;
  padding: rem(40px 64px);
  overflow-x: hidden;
  overflow-y: auto;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $gray-97 0% 0% no-repeat padding-box;
    z-index: -2;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: rem(225px);
    background: transparent -moz-linear-gradient(110deg, $pale 0%, $tacao 58%, $tango 100%) 0% 0% no-repeat padding-box;
    background: transparent -webkit-linear-gradient(110deg, $pale 0%, $tacao 58%, $tango 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(110deg, $pale 0%, $tacao 58%, $tango 100%) 0% 0% no-repeat padding-box;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$pale",endColorstr="$tango",GradientType=1);
    z-index: -1;
  }
}

// Button
a.btn {
  width: rem(202px);
	height: rem(40px);
	font-size: rem(16px);
	line-height: rem(19px);
	font-weight: bold;
	padding: rem(10px 20px);
	border-radius: rem(27px);
	box-shadow: rem(0 2px 6px) #00000029;
}

button:focus {
  outline: none;
}

.btn-primary, .btn-primary.disabled, .btn-primary:disabled {
  color: $white;
}

.btn-secondary, .btn-secondary.disabled, .btn-secondary:disabled {
  color: $gray-40;
}

// Custom Checkbox
.custom-control-input:checked ~ .custom-control-label::after {
  background-image: none;
  background-color: $pale;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
  border-color: $gray-60;
}

.custom-control-label {
  font-size: rem(18px);
  line-height: rem(23px);
  color: $gray-44;
  
  &::before {
    width: rem(24px);
    height: rem(24px);
    background-color: $white;
    border: 1px solid $gray-60;
    top: 0;
    border-radius: rem(4px);
  }

  &::after {
    border-radius: rem(2px);
  }
}

.custom-control-input:checked ~ .custom-control-label::before,
.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  background-color: $white;
  border-color: $gray-60;
}

// Template scss
.card-template {
  padding: rem(48px 60px);
}