// Colors
$tango: #F3811F;
$lime-green: #3FC13A;
$burnt-sienna: #F06666;
$pale: #AEDBD5;
$tacao: #F2BB7B;
$ink-blue: #3C70FF;
$red: #FF0000;

$gray-98: #FAFAFA;
$gray-97: #F8F8F8;
$gray-94: #F0F0F0;
$gray-90: #E5E5E5;
$gray-85: #D9D9D9;
$gray-80: #CBCBCB;
$gray-60: #999999;
$gray-44: #707070;
$gray-40: #666666;


$primary:       $tango;
$secondary:     $gray-94;
$success:       $lime-green;
$danger:        $red;

$theme-colors: ();

$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);

// Link
$link-color: $ink-blue;

// Form
$form-group-margin-bottom: 20px;
$input-placeholder-color: rgba($gray-44, 0.45);
$input-border-color: $gray-90;
$input-border-radius: 8px;
$enable-validation-icons: false;

// Form validation
$form-feedback-margin-top: 0;
$form-feedback-font-size: 12px;
$form-feedback-valid-color: theme-color("success");
$form-feedback-invalid-color: theme-color("danger");

$form-feedback-icon-valid-color: $form-feedback-valid-color;
$form-feedback-icon-valid: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'><path fill='#{$form-feedback-icon-valid-color}' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/></svg>");
$form-feedback-icon-invalid-color: $form-feedback-invalid-color;
$form-feedback-icon-invalid: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='#{$form-feedback-icon-invalid-color}' viewBox='0 0 12 12'><circle cx='6' cy='6' r='4.5'/><path stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/><circle cx='6' cy='8.2' r='.6' fill='#{$form-feedback-icon-invalid-color}' stroke='none'/></svg>");

$form-validation-states: ();
$form-validation-states: map-merge(
  (
    "valid": (
      "color": $form-feedback-valid-color,
      "icon": $form-feedback-icon-valid
    ),
    "invalid": (
      "color": $form-feedback-invalid-color,
      "icon": $form-feedback-icon-invalid
    ),
  ),
  $form-validation-states
);

// Modal
$modal-lg: 900px;
$modal-content-border-radius: 36px;
$modal-backdrop-opacity: 0.3;