// Colors
$tango: #f3811f;
$lime-green: #3fc13a;
$burnt-sienna: #f06666;
$pale: #aedbd5;
$tacao: #f2bb7b;
$ink-blue: #3c70ff;
$red: #ff0000;

$gray-98: #fafafa;
$gray-97: #f8f8f8;
$gray-94: #f0f0f0;
$gray-90: #e5e5e5;
$gray-85: #d9d9d9;
$gray-80: #cbcbcb;
$gray-68: #aeaeae;
$gray-60: #999999;
$gray-44: #707070;
$gray-40: #666666;

$primary: $tango;
$secondary: $gray-94;
$success: $lime-green;
$danger: $red;

$theme-colors: ();

$theme-colors: map-merge(
	(
		'primary': $primary,
		'secondary': $secondary,
		'success': $success,
		'info': $info,
		'warning': $warning,
		'danger': $danger,
		'light': $light,
		'dark': $dark,
		'failure': $burnt-sienna,
	),
	$theme-colors
);

// Link
$link-color: $ink-blue;

// Form
$form-group-margin-bottom: 20px;
$input-placeholder-color: rgba($gray-44, 0.45);
$input-border-color: $gray-90;
$input-border-radius: 8px;
$enable-validation-icons: false;

// Form validation
$form-feedback-margin-top: 0;
$form-feedback-font-size: 12px;
$form-feedback-valid-color: theme-color('success');
$form-feedback-invalid-color: theme-color('danger');

$form-feedback-icon-valid-color: $form-feedback-valid-color;
$form-feedback-icon-valid: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'><path fill='#{$form-feedback-icon-valid-color}' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/></svg>");
$form-feedback-icon-invalid-color: $form-feedback-invalid-color;
$form-feedback-icon-invalid: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='#{$form-feedback-icon-invalid-color}' viewBox='0 0 12 12'><circle cx='6' cy='6' r='4.5'/><path stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/><circle cx='6' cy='8.2' r='.6' fill='#{$form-feedback-icon-invalid-color}' stroke='none'/></svg>");

$form-validation-states: ();
$form-validation-states: map-merge(
	(
		'valid': (
			'color': $form-feedback-valid-color,
			'icon': $form-feedback-icon-valid,
		),
		'invalid': (
			'color': $form-feedback-invalid-color,
			'icon': $form-feedback-icon-invalid,
		),
	),
	$form-validation-states
);

// Modal
$modal-lg: 900px;
$modal-md: 600px;
$modal-content-border-radius: 36px;
$modal-backdrop-opacity: 0.3;

// Popover
$popover-max-width: 346px;
$popover-border-color: $pale;
$popover-border-radius: 8px;
$popover-inner-border-radius: 7px;

$popover-header-bg: $pale;
$popover-header-color: $white;
$popover-header-padding-y: 8px;
$popover-header-padding-x: 24px;

$popover-body-padding-y: 24px;
$popover-body-padding-x: 24px;

$popover-arrow-outer-color: $pale;
