@import "../../assets/scss/core";

.table {
  margin: 0;

  tbody tr {
    transition: all 0.25s ease;

    &.active {
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: rem(0 0 16px) #00000029;
      transition: all 0.25s ease;

      td.td-actions {
        opacity: 1;
        pointer-events: all;
        transition: all 0.3s ease;
      }
    }
  }

  th, td {
    color: $gray-44;

    &:first-child {
      padding-left: rem(48px);
    }
  }

  thead th, tbody td {
    border-top: 0 none;
    vertical-align: middle;
  }

  thead th {
    font-size: rem(14px);
    line-height: rem(17px);
    padding: rem(24px 16px);
    border-bottom: 1px solid $gray-80;
  }

  tbody td{
    font-size: rem(18px);
    line-height: rem(23px);
    padding: rem(18px 16px);

    &.td-actions {
      padding: rem(8px 16px);
    }
  }

  .td-actions {
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    text-align: right;

    button {
      display: inline-flex;
      background-color: $pale;
      border-color: $pale;
      box-shadow: none;
      color: $white;

      + button {
        margin-left: rem(24px);
      }
    }
  }
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.03);
}